.Arena {
  width: 720px;
  height: 720px;
  background-color: aquamarine;
  position: relative;
  text-align: center;
  user-select: none;
}

.Arena-Icon {
  position: absolute;
  text-align: start;
}

.Arena-Icon-Img {
  position: relative;
  /* cursor: grab; */
}

.Arena-Icon-label {
  position: absolute;
  top: -20px;
}

.Arena-Resize-Img {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: whitesmoke;
}

.Arena-Rotate-Img {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: whitesmoke;
}

.Arena-States-Container {
  position: absolute;
  width: 1080px;
  top: 720px;
  left: -360px;
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Arena-Save-Load-Container {
  height: 20px;
  display: flex;
  flex-direction: row;
}

.Arena-Save-Load {
  width: 40px;
  height: 20px;
  margin: 0;
  display: inline;
  vertical-align: middle;
  
  border: 2px solid black;
}