.Arena {
  width: 720px;
  height: 720px;
  background-color: aquamarine;
  position: relative;
}

.Arena-Icon {
  width: 60px;
  height: 60px;
  position: absolute;
}

.Arena-Icon-Img {
  width: 100%;
  height: 100%;
}