.IconList {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  height: 360px;
  user-select: none;
  background-color: #212121;
}

.IconList-selection {
  width: 50px;
  height: 50px;
}

.IconList-image {
  width: 100%;
  height: 100%;
}