.CustomizeIcon {
  position: absolute;
  left: -360px;
  top: 360px;
  width: 360px;
  height: 360px;
  background-color: chartreuse;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CustomizeIcon-Icon{
  width: 60px;
  height: 60px;
}

.CustomizeIcon-Saves {
  display: flex;
  flex-direction: column;
  
}

.Arena-Saves {
  border-style: solid solid solid;
}

.Arena-Saves-Trashbin {
  width: 16px;
  height: 16px;
}